HOST=localhost
PORT=8080
BASE_URL=localhost:8080
DEBUG=
SALT=
TOKEN_URL=https://token.overhide.io/validate
INTERNAL_TOKEN=
KEYV_TALLY_CACHE_URI=redis://localhost:6379

RATE_LIMIT_FE_WINDOW_MS=60000
RATE_LIMIT_FE_MAX_REQUESTS_PER_WINDOW=30
RATE_LIMIT_FE_REDIS_URI=redis://localhost:6379
RATE_LIMIT_FE_REDIS_NAMESPACE=oh-public-rate-limit
RATE_LIMIT_BE_WINDOW_MS=60000
RATE_LIMIT_BE_MAX_REQUESTS_PER_WINDOW=600
RATE_LIMIT_BE_REDIS_URI=redis://localhost:6379
RATE_LIMIT_BE_REDIS_NAMESPACE=oh-backend-rate-limit

EXPECTED_CONFIRMATIONS=2
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=oh-btc
POSTGRES_USER=adam
POSTGRES_PASSWORD=c0c0nut 
POSTGRES_SSL=
